*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */

/* {
} */

body{
    background-color:#EEE9DA ;
    display: block;
}

.container-fluid{
    margin-left: 5.6rem;
}

.nav-item a{
    margin-left: 6.4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}

.menu{
    display: none;
}

.portada{
    background-image: url(../assets/img/PORTADA.png);
    width: 100%;
    height: 40rem;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}

.img-portada{
    height: 75%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 65;
}

.h1-portada{
    font-size: 4rem;
    color: #EEE9DA;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
}

.p-portada{
    font-size: 2rem;
    color: #EEE9DA;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 6;
}

.titulos{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4.8rem;
    margin-top: 4.8rem;
}

.card-home{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 84rem;
    height: 36rem;
    background-color: #DED6BF;
    border-radius: 3.2rem;
    margin-bottom: 4.8rem;
    margin-top: 4.8rem;
}

.card-home img{
    margin: 3rem 0 3rem 0;
    width: 30rem;
    height: 30rem;
}
.card-home-texto{
    margin: 0rem 6.2rem 0rem 6.2rem;
}

.card-home h2{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
}

.card-home p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 3.2rem;
}

.boton-proyecto-home{
    background-color: #DED6BF;
    width: 32rem;
    height: 4rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #6A6453;
    border-color: #6A6453;
}

.boton-proyecto-home a{
    color: #6A6453;
    text-decoration: none;
}

.home-proyectos{
    margin-bottom: 9.6rem;
}

.card-home-about{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 38.4rem;
    background-color: #DED6BF;
    margin-bottom: 9.6rem;
}

.card-home-about img{
    margin-left: 2.4rem;
    width: 38.4rem;
    height: 38.4rem;
}

.card-home-about h2{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.card-home-about p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.footer-estilo{
    background-color:#93BFCF ;
    height: 9.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-about{
    display: flex;
    width: 84rem;
    height: 40rem;
    margin: 4.8rem 2.4rem 4.8rem 2.4rem;
    justify-content: center;
    align-items: center;
}

.card-about img{
    width: 40rem;
    height: 40rem;
}

.card-about-texto{
    margin-left: 6.4rem;
    height: 40rem;
}

.card-about h2{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
}

.card-about p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.formacion-titulo{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    margin-left: 9.6rem;
}

.formacion-texto{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    margin-left: 9.6rem;
    font-weight: lighter;
    margin-bottom: 2.4rem;
}

.cards-herramientas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 4.8rem;
}

.logo-herramienta{
    width: 20rem;
    height: 20rem;
    background-color: #DED6BF;
    border-radius: 3.2rem;
    display: flex;
    justify-content: center;
}

.about-button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.4rem;
    height: 8rem;
    background-color: #EEE9DA;
    border-width: 0.4rem;
    border-color: #6A6453;
    margin-bottom: 9.6rem;
}

.about-button a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #6A6453;
    text-decoration: none;
}

.card-proyecto{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 84rem;
    height: 40rem;
    gap: 4.8rem;
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
}

.card-proyecto h2{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
}

.card-proyecto p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.card-proyecto button{
    background-color: #EEE9DA;
    width: 44.4rem;
    height: 4.8rem;
    text-align: center;
    border-color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #9C947C;
    text-decoration: none;
}

.card-proyecto button a{
    color: #6A6453;
    text-decoration: none;
}

.playlist1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.playlist2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 8rem;
}

.libros{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.libros p{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 8rem;
}

.lugares{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
}

.lugares p{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 9.6rem;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2.4rem;
}

.input-name-email{
    width: 40rem;
    height: 6.4rem;
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    color: #9C947C; 
    text-indent: 2.4rem;
}

.input-asunto{
    width: 82.4rem;
    height: 6.4rem;
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    color: #9C947C; 
    text-indent: 2.4rem;
}

.input-mensaje{
    width: 82.4rem;
    height: 32rem;
    font-family: 'Nunito', sans-serif;
    font-size: 3.2rem;
    color: #9C947C; 
    text-indent: 2.4rem;

}

.boton-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-formulario button{
    background-color: #6A6453;
    width: 82.4rem;
    height: 5.6rem;
    margin-bottom: 9.6rem;
    border: none;
}

.boton-formulario a{
    color: #EEE9DA;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}


/* MEDIA TABLET */

@media (max-width: 768px){
    .portada{
        background-image: url(../assets/img/PORTADA.png);
        width: 100%;
        height: 32rem;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    
    .img-portada{
        height: 75%;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 65;
    }
    
    .h1-portada{
        font-size: 4rem;
        color: #EEE9DA;
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 6;
    }
    
    .p-portada{
        font-size: 2rem;
        color: #EEE9DA;
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 6;
    }

.titulos{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
}

.card-home{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60rem;
    height: 26rem;
    background-color: #DED6BF;
    border-radius: 3.2rem;
    margin-bottom: 4.8rem;
    margin-top: 4.8rem;
}

.card-home img{
    margin: 3rem 0 3rem 0;
    width: 20rem;
    height: 20rem;
}
.card-home-texto{
    margin: 0rem 3.2rem 0rem 3.2rem;
}

.card-home h2{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.card-home p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
}

.boton-proyecto-home{
    background-color: #DED6BF;
    width: 25.6rem;
    height: 3.2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #6A6453;
    border-color: #6A6453;
}

.card-home-about{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 32rem;
    background-color: #DED6BF;
    margin-bottom: 9.6rem;
}

.card-home-about div{
    margin: 0 5.6rem 0 0;
}

.card-home-about img{
    margin-left: 0rem;
    width: 32rem;
    height: 32rem;
}

.card-home-about h2{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.card-home-about p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.card-proyecto{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60rem;
    height: 26rem;
    gap: 4.8rem;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}

.card-proyecto img{
    height: 26rem;
}

.card-proyecto h2{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.4rem;
}

.card-proyecto p{
    color: #9C947C;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.card-proyecto button{
    width: 25.6rem;
    height: 3.2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #6A6453;
    border-color: #6A6453;
}
}



/* MEDIA MOBILE */

@media (max-width: 320px){
    .portada{
        background-image: url(../assets/img/PORTADA.png);
        width: 100%;
        height: 24rem;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    
    .img-portada{
        height: 70%;
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 6;
        align-items: center;
    }
    
    .h1-portada{
        text-align: center;
        font-size: 2rem;
        color: #EEE9DA;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .p-portada{
        text-align: center;
        font-size: 1.4rem;
        color: #EEE9DA;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .titulos{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2.4rem;
        margin-top: 2.4rem;
    }

    .card-home{
        display: block;
        margin: 0 auto;
        width: 30rem;
        height: 48rem;
        background-color: #DED6BF;
        border-radius: 1.6rem;
        margin-bottom: 2.4rem;
        margin-top: 2.4rem;
    }
    
    .card-home img{
        margin: 3rem 0 3rem 0;
        width: 16rem;
        height: 16rem;
    }
    
    .card-home h2{
        color: #9C947C;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 1.6rem;
    }
    
    .card-home p{
        color: #9C947C;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
    
    .boton-proyecto-home{
        background-color: #DED6BF;
        width: 22.4rem;
        height: 3.2rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        color: #6A6453;
        border-color: #6A6453;
    }
    
    .card-home-about{
        margin: 0 auto;
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 54.4rem;
        background-color: #DED6BF;
        margin-bottom: 9.6rem;
    }
    
    .card-home-about div{
        margin: 0 2.4rem 0 2.4rem;
    }
    
    .card-home-about img{
        margin-left: 0rem;
        width: 24rem;
        height: 24rem;
    }
    
    .card-home-about h2{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
    }
    
    .card-home-about p{
        color: #9C947C;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }

    .footer-estilo{
        gap:  3.2rem;
    }

    .card-proyecto{
        margin: 0 auto;
        display: block;
        align-items: center;
        text-align: center;
        width: 32rem;
        height: 52rem;
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
    }
    
    .card-proyecto img{
        height: 24rem;
    }
    
    .card-proyecto h2{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }
    
    .card-proyecto p{
        color: #9C947C;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        text-align: center;
        margin: 0 2.4rem 2.4rem 2.4rem;

    }
    
    .card-proyecto button{
        width: 25.6rem;
        height: 3.2rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        color: #6A6453;
        border-color: #6A6453;
    }
}
