.portada{
    background-image: url(https://i.postimg.cc/4xGJpq86/PORTADA.png);
    width: 100%;
    height: 40rem;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    img{
        height: 75%;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 65;
    }
    h1{
        font-size: 4rem;
        color: #EEE9DA;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 6;
    }
    p{
        font-size: 2rem;
        color: #EEE9DA;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 6;
    }
}

.titulos{
    color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4.8rem;
    margin-top: 4.8rem;
}

.home-proyectos{
    margin-bottom: 9.6rem;
    .card-home{
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: center;
        width: 84rem;
        height: 36rem;
        background-color: #DED6BF;
        border-radius: 3.2rem;
        margin-bottom: 4.8rem;
        margin-top: 4.8rem;
        img{
            margin: 3rem 0 3rem 0;
            width: 30rem;
            height: 30rem;
        }
        div{
            margin: 0rem 6.2rem 0rem 6.2rem;
            h2{
                color: #9C947C;
                font-family: 'Poppins', sans-serif;
                font-size: 3.2rem;
                font-weight: bold;
                margin-bottom: 3.2rem;
            }
            p{
                color: #9C947C;
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                margin-bottom: 3.2rem;
            }
        }
    }
}

.home-about{
    display: flex;
    align-items: center;
    justify-content: center;
    .card-home-about{
        margin: 0rem 6rem 0rem 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 40rem;
        background-color: #DED6BF;
        margin-bottom: 9.6rem;
        img{
            width: 40rem;
            height: 40rem;
        }
        h2{
            color: #6A6453;
            font-family: 'Poppins', sans-serif;
            font-size: 4rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5.6rem;
        }
        p{
            color: #9C947C;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            margin-bottom: 5.6rem;
            text-align: center;
            margin: 0rem 6rem 5.6rem 6rem;
        }
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    .card-about{
        display: flex;
        width: 84rem;
        height: 40rem;
        margin: 4.8rem 2.4rem 4.8rem 2.4rem;
        justify-content: center;
        align-items: center;
        img{
            width: 40rem;
            height: 40rem;
        }
        div{
            margin-left: 6.4rem;
            height: 40rem;
            h2{
                color: #6A6453;
                font-family: 'Poppins', sans-serif;
                font-size: 4.8rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 2.4rem;
            }
            p{
                color: #9C947C;
                font-family: 'Poppins', sans-serif;
                font-size: 2.4rem;
                text-align: center;
            }
        }
    }
}

.formacion-lista{
    margin: 0rem 8rem 0rem 8rem;
    .formacion-contenido{
        h3{
            color: #9C947C;
            font-family: 'Poppins', sans-serif;
            font-size: 3.2rem;
            margin-left: 9.6rem;
        }
        p{
            color: #9C947C;
            font-family: 'Poppins', sans-serif;
            font-size: 2.4rem;
            margin-left: 9.6rem;
            font-weight: lighter;
            margin-bottom: 2.4rem; 
        }
    }
}

.cards-herramientas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 4.8rem;
    .logo-herramienta{
        width: 20rem;
        height: 20rem;
        background-color: #DED6BF;
        border-radius: 3.2rem;
        display: flex;
        justify-content: center;
    }
}


.card-proyecto{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 84rem;
    height: 40rem;
    gap: 4.8rem;
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
    h2{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 4.8rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2.4rem;
    }
    p{
        color: #9C947C;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        text-align: center;
    }
    
}

.playlist1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.playlist2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 8rem;
}

.libros{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        margin-bottom: 8rem;
    }
}

.lugares{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
    p{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        margin-top: 2.4rem;
        margin-bottom: 9.6rem;
    }
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2.4rem;
    .input-name-email{
        width: 40rem;
        height: 6.4rem;
        font-family: 'Nunito', sans-serif;
        font-size: 2.4rem;
        color: #9C947C; 
        text-indent: 2.4rem;
    }
    .input-asunto{
        width: 82.4rem;
        height: 6.4rem;
        font-family: 'Nunito', sans-serif;
        font-size: 2.4rem;
        color: #9C947C; 
        text-indent: 2.4rem;
    }
    .input-mensaje{
        width: 82.4rem;
        height: 32rem;
        font-family: 'Nunito', sans-serif;
        font-size: 3.2rem;
        color: #9C947C; 
        text-indent: 2.4rem;
    }
}

.error404{
    img{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        color: #6A6453;
        font-family: 'Poppins', sans-serif;
        font-size: 2.4rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8rem;
    }
    a{
        p{
            margin-top: 8rem;
            margin-bottom: 10rem;
            text-decoration: none;
            font-size: 2.4rem;
        }
    }
}