.boton-proyecto-home{
    background-color: #DED6BF;
    width: 32rem;
    height: 4rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #6A6453;
    border-color: #6A6453;
}

.boton-proyecto-home a{
    color: #6A6453;
    text-decoration: none;
}

.about-button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.4rem;
    height: 8rem;
    background-color: #EEE9DA;
    border-width: 0.4rem;
    border-color: #6A6453;
    margin-bottom: 9.6rem;
}

.about-button a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #6A6453;
    text-decoration: none;
}

.card-proyecto button{
    background-color: #EEE9DA;
    width: 44.4rem;
    height: 4.8rem;
    text-align: center;
    border-color: #6A6453;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #9C947C;
    text-decoration: none;
}

.card-proyecto button a{
    color: #6A6453;
    text-decoration: none;
}

.boton-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-formulario button{
    background-color: #6A6453;
    width: 82.4rem;
    height: 5.6rem;
    margin-bottom: 9.6rem;
    border: none;
}

.boton-formulario a{
    color: #EEE9DA;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}